{% extends "base.html" %}
{% block content %}
    <h3>Hi,  
    {% if current_user.is_authenticated %}
        {{ current_user.username }}!
    {% else %}
        Guest!
    {% endif %}
    </h3>
    <!--
    <form  action="/chat">
        <div>
            <label>Enter your username</label>
            <input type="test" name="username">
        </div>
        <div>
            <label>Enter room id</label>
            <input type="test" name="room">
        </div>
        <button type="submit">Submit</button>
    </form>
    -->
    <div class = "login-card">
    <div class="card">
    <div class="card-body">
    {% if current_user.is_authenticated %}
    <h3>My rooms</h3>
    <ul class="list-group">
        {% for room in rooms %}
            <li class="list-group-item"><a href="/rooms/{{ room._id.room_id }}">{{ room.room_name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}